.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.inputContainer h1 span{
    color: var(--primary-color);
}

.inputContainer div {
    display: flex;
    margin-bottom: 2rem;
}

.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inputContainer input::placeholder {
    font-size: 0.9rem;
}

.inputContainer button {
    padding: 0 1rem;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/*Result*/
.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.result p {
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.result button {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}

.result button.copied {
    background: #fff;
    color: var(--primary-color);
}

.noData {
    color: #fff;
    font-size: 1rem;
}

/* Background animate*/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 32;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 60%;
    left: 77%;
    animation-duration: 100s;
    animation-delay: -86s;
    transform-origin: -13vw -9vh;
    box-shadow: 30vmin 0 4.238085160479368vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 81%;
    left: 3%;
    animation-duration: 89s;
    animation-delay: -87s;
    transform-origin: -21vw 0vh;
    box-shadow: -30vmin 0 3.826421436101178vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 46%;
    left: 21%;
    animation-duration: 95s;
    animation-delay: -29s;
    transform-origin: -17vw 0vh;
    box-shadow: -30vmin 0 3.9190915187677757vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 96%;
    left: 67%;
    animation-duration: 23s;
    animation-delay: -109s;
    transform-origin: -10vw 10vh;
    box-shadow: 30vmin 0 4.08083839839872vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 91%;
    left: 50%;
    animation-duration: 118s;
    animation-delay: -25s;
    transform-origin: -9vw -13vh;
    box-shadow: -30vmin 0 4.698141637626861vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 42%;
    left: 75%;
    animation-duration: 103s;
    animation-delay: -19s;
    transform-origin: 3vw 23vh;
    box-shadow: -30vmin 0 4.178424368489975vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 40%;
    left: 17%;
    animation-duration: 171s;
    animation-delay: -35s;
    transform-origin: -22vw -12vh;
    box-shadow: 30vmin 0 4.051519157338405vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 23%;
    left: 82%;
    animation-duration: 41s;
    animation-delay: -30s;
    transform-origin: -24vw 25vh;
    box-shadow: -30vmin 0 4.602716701005385vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 29%;
    left: 17%;
    animation-duration: 133s;
    animation-delay: -131s;
    transform-origin: -22vw -4vh;
    box-shadow: -30vmin 0 4.4948205785480715vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 44%;
    left: 21%;
    animation-duration: 158s;
    animation-delay: -29s;
    transform-origin: -5vw -10vh;
    box-shadow: -30vmin 0 4.71221624234035vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 33%;
    left: 83%;
    animation-duration: 128s;
    animation-delay: -167s;
    transform-origin: -7vw 1vh;
    box-shadow: 30vmin 0 4.2322303842015625vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 62%;
    left: 99%;
    animation-duration: 10s;
    animation-delay: -18s;
    transform-origin: 0vw -5vh;
    box-shadow: -30vmin 0 4.674584503249844vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 78%;
    left: 70%;
    animation-duration: 142s;
    animation-delay: -25s;
    transform-origin: -4vw -20vh;
    box-shadow: 30vmin 0 4.47225665274523vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 75%;
    left: 70%;
    animation-duration: 42s;
    animation-delay: -151s;
    transform-origin: 23vw -2vh;
    box-shadow: -30vmin 0 3.907577596119499vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 21%;
    left: 24%;
    animation-duration: 19s;
    animation-delay: -153s;
    transform-origin: 14vw -9vh;
    box-shadow: 30vmin 0 4.214317308569618vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 23%;
    left: 54%;
    animation-duration: 120s;
    animation-delay: -1s;
    transform-origin: -7vw 1vh;
    box-shadow: -30vmin 0 4.31547001264329vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 87%;
    left: 83%;
    animation-duration: 152s;
    animation-delay: -84s;
    transform-origin: -11vw 22vh;
    box-shadow: 30vmin 0 3.7894721910141156vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 42%;
    left: 78%;
    animation-duration: 118s;
    animation-delay: -27s;
    transform-origin: -10vw -18vh;
    box-shadow: -30vmin 0 3.766638912399938vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 97%;
    left: 2%;
    animation-duration: 126s;
    animation-delay: -172s;
    transform-origin: 4vw 14vh;
    box-shadow: -30vmin 0 4.139116193353903vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 16%;
    left: 18%;
    animation-duration: 118s;
    animation-delay: -88s;
    transform-origin: 9vw 0vh;
    box-shadow: -30vmin 0 4.509105306763335vmin currentColor;
}
